body{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

p{
     text-align: center;
     overflow: overlay;
     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(248, 248, 248)
}

#toolbox{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 20;: 0.5em;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}
/*
#fileChooser{
    position: absolute;
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    background-color: white;
    padding: 1em;
    z-index: 5;

    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
*/



.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}



.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}



.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }





#back{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}

#toolbox input{
    width: 30px;
    opacity: 0.4;
}
#toolbox input:hover{
    opacity: 1;
    cursor: pointer;
}

#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}

.conceptG text{
    pointer-events: none;
}

marker{
    fill: #333;
}

g.conceptG circle{
    fill: #F6FBFF;
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle{
    fill: rgb(200, 238, 241);
}

g.selected circle{
    fill: rgb(250, 232, 255);
}
g.selected:hover circle{
    fill: rgb(250, 232, 255);
}

/* "notready", blanco 255 255 255-*/
g.conceptG.notready circle{
    fill: rgb(255 255 255);
    stroke: #333;
    stroke-width: 2px;
}
/* "ready", naranja 160,160,160-*/
g.conceptG.ready circle{
    fill: rgb(255,128,0);
    stroke: #333;
    stroke-width: 2px;
}
/* "prerun", azul palido -*/
g.conceptG.prerun circle {
    fill: rgb(153, 204, 255);
    stroke: #333;
    stroke-width: 2px;
}
/* "submitted", azul -*/
g.conceptG.submitted circle{
    fill: rgb(51, 153, 255);
    stroke: #333;
    stroke-width: 2px;
}
/* "postrun", azul oscuro -*/
g.conceptG.postrun circle{
    fill: rgb(0, 64, 128);
    stroke: #333;
    stroke-width: 2px;
}
/* "done",  verde -*/
g.conceptG.done circle{
    fill: rgb(0, 204, 0);
    stroke: #333;
    stroke-width: 2px;
}
/* "Error", rojo 255,51,51-*/
g.conceptG.error circle{
    fill: rgb(255,51,51);
    stroke: #333;
    stroke-width: 2px;
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

path.link:hover{
    stroke: rgb(94, 196, 204);
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}
