vagrant/openlava/openlava-4.0.tar.gz
node_modules
prototipo/test-*-reports.xml
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
vagrant/sola/.vagrant

vagrant/slurm/.vagrant/*
vagrant/htcondor/sola/.vagrant
vagrant/slurm/data/*
vagrant/torque/.vagrant/*
vagrant/torque/data/*
vagrant/openlava/.vagrant/*
vagrant/openlava/data/*
prototipo/data/run/*
prototipo/data/uploads/*
vagrant/deb/.vagrant/*
vagrant/htcondor/triMaquinas/.vagrant

# OS-specific
.DS_Store

# Editor swapfiles
.*.sw?
*~

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb
*.deb
# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/
vendor/
/exec

!prototipo/static/vendor
prototipo/appframework/[a-z]*[0-9]*.js

# Documentation
_site/*
.yardoc/

# Python
*.pyc

# Rubinius
*.rbc

# IDE junk
.idea/*
*.iml
.project

# Ruby Managers
.rbenv
.rbenv-gemsets
.ruby-gemset
.ruby-version
.rvmrc
\#*\#
